@import url(https://fonts.googleapis.com/css2?family=Cinzel&family=Cookie&display=swap);

body {
    background-color: #000080;
    font-family: Cinzel, Georgia, serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #7f280e;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    padding-top: 50px;
}
nav a:hover {
    background-color: #EFF6F2;
    color: #7f280e;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero-msg h1 {
    text-align: center;
}
#hero-img {
    width: 100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.home-title {
    color: rgba(255, 255, 255, 0.877);
    font-family: Cookie, "Brush Script MT";
    font-size: 6em;
    margin-top: 80px;
    background-color: #7f280e; opacity: .9;
    border-radius: 25px;
}
#title-main {
    font-family: Cookie, "Brush Script MT";
    text-align: center;
    color: white;
    font-size: 3em;
}
#home-main h2 {
    color: white;
    text-align: center;
}
#home-main p {
    color: white;
    margin: 50px;
}
#blueprint {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
#bottom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 80px;
}
footer {
    background-color: #7f280e;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .8em;
}
footer h3 {
    color: black;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #0060fc;
}
footer .social img {
    padding-top: 15px;
}